@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;600;700&display=swap");

/* Reset some default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #437ef7;
  --secondary-color: #000;
  --background-color: #2b63d9;
  --text-color: #202124;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

/* Global styles */

.container {
  width: 100%;
  max-width: 1242px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.gap {
  gap: 1rem;
}

/* Navbar styles */
