@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;600;700&display=swap");

/* Reset some default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #437ef7;
  --background-color: #2b63d9;
  --anchor-header-color: #272d37;
  --text-color: #5f6d7e;
  --color-white: #fff;
  --paragraph-color: #b1ccfb;
  --footer-background-color: #151b28;
  --footer-text-color: #a5acba;
  --footer-h4-color: #f9f9f9;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

/* Global styles */

.container {
  width: 90%;
  max-width: 1230px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.h-100vh {
  min-height: 100vh;
}

.width-fit-content {
  width: fit-content;
}

.main-btn {
  padding: 0.75rem 1.125rem;
  background-color: var(--primary-color);
  border-radius: 0.3125rem;
  color: var(--color-white);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.paragraph-style {
  color: var(--text-color);
  line-height: 1.5rem;
  letter-spacing: -0.1px;
  margin-bottom: 1rem;
}

.section-header h2 {
  color: var(--anchor-header-color);
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.section-header h2::after {
  content: "";
  display: block;
  height: 0.3125rem;
  width: 54%;
  margin: 1.125rem auto 0;
  background-color: #d9d9d9;
}

.d-none {
  display: none;
}

/* Navbar styles */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1.25rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  background-color: var(--color-white);
  z-index: 999;
}

.navbar__links {
  margin-right: auto;
}

.navbar__links li a {
  color: var(--anchor-header-color);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.375rem;
  cursor: pointer;
}

.links__btn {
  display: none;
}

li.dropdown {
  position: relative;
  color: var(--anchor-header-color);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.375rem;
}

li.dropdown ul {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--color-white);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1.5rem;
  min-width: 100%;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

li.dropdown:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar__btn,
.links__btn {
  gap: 1.5rem;
}

.links__btn > a:first-child,
.navbar__btn > a:first-child {
  color: var(--primary-color);
}

.bars {
  display: none;
}

/* Hero styles */

.header {
  padding-top: 5rem;
}

.hero__section {
  justify-content: space-between;
}

.hero__content {
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0 5.75rem;
}

.hero__content h5 {
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: -0.0063rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.hero__content h1 {
  color: var(--anchor-header-color);
  font-weight: 700;
  font-size: 3.25rem;
  letter-spacing: -0.0625rem;
  line-height: 3.75rem;
}

/* Hero footer */

.hero__footer {
  padding: 4rem 0;
  background-color: var(--background-color);
}

.hero__footer__content {
  width: 50%;
}

.hero__footer__content h2 {
  font-size: 2rem;
  line-height: 2.625rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.digital__text {
  color: var(--paragraph-color);
  line-height: 1.5rem;
}

.hero__footer__subscribe {
  width: 40%;
}

.hero__footer__subscribe form {
  margin-bottom: 0.5rem;
}

.hero__footer__subscribe form input {
  min-width: 71%;
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  border-radius: 5px 0 0 5px;
  line-height: 1.375rem;
  font-size: 0.9375rem;
}

.hero__footer__subscribe form button {
  padding: 0.75rem 1.125rem;
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: var(--primary-color);
}

/* blog */

.blog {
  padding: 4rem 0;
}

.blog__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.blog__h2 {
  color: var(--anchor-header-color);
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.875rem;
  margin-bottom: 1rem;
}

.blog__span {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.0063rem;
}

.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.article__content {
  grid-column-start: 2;
  grid-column-end: 4;
}

.blog__featured .article__img {
  aspect-ratio: 5 / 2;
  overflow: hidden;
}
.blog__All__featured .article .article__img {
  aspect-ratio: 6 / 4;
  overflow: hidden;
}

.article__img img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  object-fit: cover;
  object-position: center center;
}

/* latest blog */

.latest__blog {
  padding: 4rem 0;
}

.latest__blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 2.5625rem;
}

.latest__blog__items h2 {
  margin-top: 0.5rem;
}

.latest__blog__item a {
  color: var(--primary-color);
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 600;
}

/* welcome */

.welcome {
  background-color: var(--background-color);
  color: var(--color-white);
  padding: 4rem 0;
}

.welcome__content {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.welcome__content h5 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.0063rem;
}

.welcome__content h2 {
  margin: 0.5rem 0 2rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.625rem;
  letter-spacing: -0.0063rem;
}

.welcome__content .welcome__btn {
  background-color: var(--color-white);
  color: var(--primary-color);
  padding: 0.75rem 1.125rem;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.375rem;
  border-radius: 0.3125rem;
}

/* footer */

.footer {
  padding: 4rem 0;
  background-color: var(--footer-background-color);
}

.footer__content {
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}

.footer__content::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #2e3545;
}

.subscipe {
  grid-column: span 2;
  max-width: 65%;
}

.subscipe form input {
  background-color: #2c3444;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.3125rem 0 0 0.3125rem;
  width: 70%;
}

.subscipe form button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0 0.3125rem 0.3125rem 0;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
}

.subscipe p {
  color: var(--footer-text-color);
  line-height: 1.5rem;
  letter-spacing: -0.0063rem;
}

.links h4 {
  color: var(--footer-h4-color);
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.0063rem;
  margin-bottom: 1.5rem;
}

.links ul {
  gap: 0.75rem;
}

.links ul li a {
  color: var(--footer-text-color);
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.0063rem;
}

.footer__bottom {
  width: fit-content;
  margin: auto;
  padding-top: 2rem;
}

.footer__bottom p {
  color: var(--footer-text-color);
  line-height: 1.5rem;
  letter-spacing: -0.0063rem;
}

/* end-footer */

/* media */

@media (max-width: 1024px) {
  nav .navbar__content ul.navbar__links {
    gap: 1rem;
  }

  nav .navbar__content {
    gap: 2rem;
    justify-content: space-between;
  }

  nav .navbar__content .navbar__links {
    position: absolute;
    top: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: 0.3s;
    max-height: 0;
    overflow: hidden;
    padding: 0;
  }

  .links__btn {
    display: flex;
  }

  .navbar__btn {
    display: none;
  }

  .bars {
    display: block;
    padding: 0.5rem;
    background: transparent;
    border: none;
    outline: none;
  }
  .hero__footer {
    order: 2;
  }

  .article {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog__content {
    grid-template-columns: 1fr;
  }

  .blog__featured .article__img {
    aspect-ratio: 5 / 3;
  }

  .hero__footer__contents {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .hero__footer__content {
    width: 100%;
  }
  .hero__footer__subscribe {
    width: 100%;
  }
  .latest__blog__items {
    grid-template-columns: 1fr 1fr;
  }
  .welcome__content a {
    display: inline-block;
  }
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  .subscipe {
    grid-column: span 3;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .hero__content h1 {
    font-weight: 600;
    font-size: 2.25rem;
    letter-spacing: -0.0625rem;
    line-height: 2.75rem;
  }

  .blog__All__featured .article .article__img {
    aspect-ratio: 4/2;
  }

  .article__content {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .article {
    grid-template-columns: 1fr;
  }

  .hero__footer__content h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .hero__footer__subscribe form {
    flex-direction: column;
  }
  .hero__footer__subscribe form input {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.3125rem;
  }
  .hero__footer__subscribe form button {
    width: 100%;
    border-radius: 0.3125rem;
  }

  .latest__blog__items {
    grid-template-columns: 1fr;
  }

  .welcome__content h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .welcome__content {
    display: flex;
    flex-direction: column;
  }
  .welcome__content a {
    margin-bottom: 1rem;
  }
  .footer__content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .subscipe {
    grid-column: span 2;
  }
  .subscipe form input {
    width: 80%;
  }
  .subscipe form button {
    width: 20%;
  }
}
